@media all and (max-width: 1000px) and (min-width: 100px) {

.stage {
    top: 0px;
}

.menu i {
	top: 3%;
}

}



/* first breakpoint 720px and below */
@media all and (max-width: 720px) and (min-width: 100px) {


.stage {
    top: 0px;
}

.first .hello {
	display: none;
}

.first .small-5 {
	width: 100%;
}

.first .columns {
	height: 70%;
}

.third .columns {
	height: 300px;
}

.third .twitter {
	height: 300px;
}

.small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10 {
	width: 100%;
} 

.video {
	display: none;
}

.first .columns .socialize i {
	padding: 40px 48px;
}

.first .columns .socialize {
	height: 20%;
}

}

/* mobile baby! */

@media all and (max-width: 400px) and (min-width: 10px) {

.first .columns .socialize i {
	margin: 20px 2px 0px 0px;
	padding: 34px 43px;
}




}












