@media all and (max-width: 1000px) and (min-width: 100px) {

.stage {
    padding: 0px;
}

.menu i {
	top: 3%;
}

.first .columns {
	height: 60%;
}

#instafeed img {
	height: 100%;
}

.first .columns p {
	font-size: 12px;
}

.outer-nav a {
	margin: 0 0 8px !important;
}


.first .hello p {
	font-size: 18px;
}

.first-list h2 {
    padding-left: 25px;
}

}



/* first breakpoint 720px and below */
@media all and (max-width: 720px) and (min-width: 100px) {


.stage {
    top: 0px;
}

.first .hello {
	display: none;
}

.first .small-5 {
	width: 100%;
}

.first .columns {
	height: 70%;
}

.third .columns {
	height: 300px;
}

.third .twitter {
	height: 300px;
}

.small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10 {
	width: 100%;
} 

.video {
	display: none;
}

.footer {
	display: none;
}

.outer-nav a {
	margin: 0 0 8px !important;
}

.first-list h2 {
    padding-left: 25px;
}

}

/* mobile baby! */

@media all and (max-width: 400px) and (min-width: 10px) {

.first .columns .socialize i {
	margin-top: 20px;
	padding: 34px 25px;
}

.first .columns {
	height: 100%;
}

.first .columns p {
	font-size: 12px;
}

#instafeed img {
	height: 100%;
}

.footer {
	display: none;
}

.quote {
	height: 300px;
}

.third .twitter .fa-twitter {
	bottom: 0px;
	position: relative;
}

.third .quote .author {
	bottom: 20px;
}

.outer-nav a {
	margin: 0 0 8px !important;
}

.first-list h2 {
    text-align: center;
    width: 90%;
}

.first-list .columns p {
    padding: 45px;
}



.menu {
	height: 118%;
}

.first .columns .socialize i {
    margin-top: 0;
    padding: 15px 25px;
}

}












