@media all and (max-width: 1000px) and (min-width: 100px) {

.stage {
    padding: 0px;
}

.menu i {
	top: 3%;
}

.first .columns {
	height: 60%;
}

#instafeed img {
	height: 100%;
}

.first .columns p {
	font-size: 12px;
}

}



/* first breakpoint 720px and below */
@media all and (max-width: 720px) and (min-width: 100px) {


.stage {
    top: 0px;
}

.first .hello {
	display: none;
}

.first .small-5 {
	width: 100%;
}

.first .columns {
	height: 70%;
}

.third .columns {
	height: 300px;
}

.third .twitter {
	height: 300px;
}

.small-4, .small-5, .small-6, .small-7, .small-8, .small-9, .small-10 {
	width: 100%;
} 

.video {
	display: none;
}



}

/* mobile baby! */

@media all and (max-width: 400px) and (min-width: 10px) {

.first .columns .socialize i {
	margin-top: 20px;
	padding: 34px 25px;
}

.first .columns {
	height: 100%;
}

.first .columns p {
	font-size: 12px;
}

#instafeed img {
	height: 100%;
}


}












