

* {
	color: #fff;

}

body { 
	background-color: #262626;
}

.backstage {
    height: 100%;
    position: relative;
    width: 100%;
}

.stage {
    margin: 0 auto;
    position: relative;
    margin-left: 50px;
    padding-top: 70px;
}

#perspective .container, footer {
	background-color: #262626;
}

/* typggraphy */

a {
	text-decoration: none;
}

p, ul, a {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

ul li {
	list-style-type: none;
	line-height: 40px;
}

h1 {
	font-size: 26px;
}

@font-face { font-family: 'FontAwesome'; }

.liner {
    border: 0.5px solid #fff;
    margin: 0 auto;
    width: 125px;
}

/* columns */

.first .columns {
	height: 90%;
}

.second .columns {
	height: 320px;
}

.third .columns {
	height: 800px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

/* footer */

.footer .columns {
	height: 90px;
}

.footer {
	background-color: #2b2b2b;
}

.footer .location p {
	margin: 33px;
}

.footer .year p {
	margin: 33px;
}


/* sections */


.hello {
	background-color: #000;
}

.first .hello, .first .bio, .third .twitter, .third .quote {
	padding: 35px;
}

.first .hello p {
	position: absolute;
	bottom: 10px;
	font-size: 22px;
    line-height: 34px;
}

.hello {
	min-height: 415px;
}

.bio {
	background-color: #2b2b2b;
	min-height: 415px;
}

.bio .gravatar {
	background-image: url('images/profile.png');
	width: 130px;
	height: 130px;
	border-radius: 90px;
}


.instagram {
	/*background-image: url('images/instagram.jpg'); */
}

.feature-big {
	background-image: url('images/tumblr.jpg');
	height: auto;
	width: 100%;
}


.feature-small {
	background-image: url('images/lily-portfolio.jpg');
}

.twitter {
	height: 400px;
	width: 100%;
	background-color: #000;
}

.third .twitter .fa-twitter {
    bottom: 35px;
    position: absolute;
}

.twitter a {
	text-decoration: underline;
}

.third .quote .author {
	position: absolute;
	bottom: 53%;
}

.quote {
	height: 400px;
	width: 100%;
	background-color: #2b2b2b;	
}



/* hover effect */

.hover-effect {
	background-color: black;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	z-index: 999999 !important;
	opacity: 0.80;
	display: none;
	width: 100%;
	height: 100%;
}

a:hover .hover-effect {
	display: block;
}

.hover-effect h2 {
position: absolute;
margin: 0 auto;
width: 100%;
text-align: center;
top: 40%;
}


/* socialize */

.first .columns .socialize {
	height: 65px;	
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.first .columns .socialize i {
	padding: 23px 28px;
	/* background-color: #000; */
	margin: 1px;
	font-family: 'FontAwesome';
}

.row.socialize {
	margin: 0px;
}


/* navigation */

.menu {
	height: 106%;
	position: fixed;
	width: 50px;
	background-color: rgba(1, 1, 1, .9);
	float: left;
	z-index: 99999999999;
}

.menu i {
	position: relative;
	top: 50%;
}

button {
	background: none;
}

/* instafeed */

#instafeed img {
	width: 100%;
}

/* list page */

.link {
	text-align: center;
	position: relative;
	top: 50%;
}


.first-list .columns p {
	padding: 100px;
}

.columns a {
	color: #fff;
}

/* list page */

.first-list .columns {
	background-color: #2b2b2b;
	border-bottom: 1px solid #222222;
}

/* post page */


.post-page .columns {
	position: relative;
}


.row .featured-image {
	height: 300px;
	border-bottom: 1px solid #222222;
	position: relative;
}

.row .featured-image h1 {
	text-align: center;
	margin-top: 13%;
}

.post-page .post-content {
	height: 800px;
	background-color: #2d2d2d;
}

.post-page .post-content .the-content {
	background-color: none;
}

.post-page .post-content p {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.post-content {
	padding-top: 7%;
}