

* {
	color: #fff;

}

.backstage {
    height: 100%;
    position: relative;
    width: 100%;
}

.stage {
    margin: 0 auto;
    position: relative;
    top: 90px;
    margin-left: 50px;
}

#perspective .container {
	background-color: #262626;
}

/* typggraphy */

p, ul, a {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

ul li {
	list-style-type: none;
	line-height: 50px;
}

@font-face { font-family: 'FontAwesome'; }

/* columns */

.first .columns {
	height: 90%;
}

.second .columns {
	height: 320px;
}

.third .columns {
	height: 800px;
}

.footer .columns {
	height: 90px;
}

.footer {
	background-color: #2b2b2b;
}

/* sections */


.hello {
	background-color: #000;
}

.first .hello, .first .bio, .third .twitter, footer .year, footer .location, .third .video {
	padding: 35px;
}

.first .hello p {
	position: absolute;
	bottom: 10px;
}

.bio {
	background-color: #2b2b2b;
}

.bio .gravatar {
	background-image: url('images/profile.png');
	width: 130px;
	height: 130px;
	border-radius: 90px;
}


.instagram {
	/*background-image: url('images/instagram.jpg'); */
}

.feature-big {
	background-image: url('images/tumblr.jpg');
	height: auto;
	width: 100%;
}


.feature-small {
	background-image: url('images/lily-portfolio.jpg');
}

.twitter {
	height: 400px;
	width: 100%;
	background-color: #000;
}

.video {
	height: 400px;
	width: 100%;
	background-color: #2b2b2b;	
}

/* hover effect */

.hover-effect {
	background-color: black;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	z-index: 999999 !important;
	opacity: 0.80;
	display: none;
	width: 100%;
	height: 100%;
}

a:hover .hover-effect {
	display: block;
}

.hover-effect h2 {
position: absolute;
margin: 0 auto;
width: 100%;
text-align: center;
top: 40%;
}


/* socialize */

.first .columns .socialize {
	height: 100px;	
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.first .columns .socialize i {
	padding: 23px 28px;
	background-color: #000;
	margin: 1px;
	font-family: 'FontAwesome';
}

.row.socialize {
	margin: 0px;
}


/* navigation */

.menu {
	height: 100%;
	position: fixed;
	width: 50px;
	background-color: rgba(1, 1, 1, .9);
	float: left;
	z-index: 99999999999;
}

.menu i {
	position: relative;
	top: 50%;
	padding-left: 15px;
}

/* instafeed */

#instafeed img {
	width: 100%;
}

